/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero {
  background-color: #2b3137;
  padding: 48px;
}

.heroCenter {
  background-color: #2b3137;
  padding: 48px;
  text-align: center;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTagline {
  color: #fff;
  font-size: 48px;
}

.heroTitle b {
  color: var(--ifm-color-primary);
}

.heroSubtitle {
  color: #fff;
  font-size: 24px;
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jack-in-the-box;
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
  height: auto;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
  justify-content: center;
}

.indexCtas a,
.indexCtas a:hover {
  color: black;
  margin: 20px 20px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  overflow: hidden;
}

.topBanner {
  font-size: 20px;
  padding: 30px 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topBannerTitle {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

@media only screen and (max-width: 768px) {
  .topBannerTitle {
    font-size: 40px;
  }
}

.topBannerTitleText {
  background: linear-gradient(
    90deg,
    rgb(131 58 180 / 100%) 0%,
    rgb(253 29 29 / 100%) 50%,
    rgb(252 176 69 / 100%) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topBannerTitleText:hover {
  border-bottom: solid 2px;
  border-color: rgb(152 0 255);
}

html[data-theme='dark'] .topBannerTitleText {
  background: linear-gradient(
    90deg,
    rgb(152 0 255) 0%,
    rgb(246 41 41) 50%,
    rgb(255 169 8) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topBannerDescription {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .topBannerDescription {
    font-size: 16px;
    white-space: normal;
  }
}

/* features部分 */
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  width: auto;
  max-height: 168px;
  margin: 0 auto;
}

.featureHeading {
  font-size: var(--ifm-h3-font-size);
  padding-top: 1rem;
}

/* Events部分 */
.section {
  padding: 40px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-200);
}

.sectionInner {
  margin: 0 auto;
}

.eventCardImage {
  overflow: hidden;
  height: 170px;
}

.eventCardHeader {
  display: flex;
  align-items: flex-start;
  height: 64px;
}

.eventCardTitle {
  margin-bottom: 0;
  flex: 1 1 auto;
}

.eventCardTitle a {
  text-decoration: none;
  background: linear-gradient(
      var(--ifm-color-primary),
      var(--ifm-color-primary)
    )
    0% 100% / 0% 1px no-repeat;
  transition: background-size ease-out 200ms;
}

.eventCardTitle a:not(:focus):hover {
  background-size: 100% 1px;
}

.eventCardTitle,
.eventCardHeader {
  margin-right: 0.25rem;
}

.eventCardBody {
  font-size: smaller;
  line-height: 1.66;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  align-items: center;
}

/* JoinCommunity部分 */
.joinCommunityTagline {
  color: #fff;
  font-size: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
